 <div class="text-center">
    <a class="navbar-brand"><img id="logo" src="../assets/images/Jiang_Guo_Group_Header.jpg"></a>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'services'" routerLinkActive="active bigger">Webservices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'newproject'" routerLinkActive="active bigger">New
            Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'existingprojects'" routerLinkActive="active bigger">Existing
            Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'projects'" routerLinkActive="active bigger">Composition Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'webproject'" routerLinkActive="active bigger">Web Projects</a>
        </li>
      </ul>
    </nav>

  <!-------------------------------------- END TOP NAVBAR ------------------------------->

  <!-------------------------------------- MAIN CONTENT ------------------------------->
  <router-outlet></router-outlet>
  <!-------------------------------------- FOOTER ------------------------------->


