<div class="row">
  <div class="col-md-10 mx-auto mt-lg-5">
    <span id="testr">here</span>
    <!--<action-message ng-show="projectAction.message" action-info="projectAction"></action-message>-->
    <div class="mat-tab-nav-bar">
      <mat-tab-group>
        <mat-tab label="Scheduled Projects">
          <div>
            <div *ngIf="dataFetched">
              <div [hidden]="scheduledProjects.length === 0"
                   class="col-md-12">
                <div class="card">
                  <div class="card-header bg-blue">
                    <h3 class="card-title"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Scheduled
                      Projects</h3>
                  </div>
                  <div class="card-body">
                    <table class="table text-center table-striped table-bordered table-hover">
                      <thead>
                      <tr class="success">
                        <th><input class="checkbox" type="checkbox" [(ngModel)]="allSelected"
                                   (ngModelChange)="selectAll(scheduledProjects, allSelected, 'scheduled')"/>
                        </th>
                        <th class="text-center"><a href=""
                                                   (click)="sortField = 'projectname'  ; reverse = !reverse">Project </a>
                        </th>
                        <th class="text-center"><a href=""
                                                   (click)="sortField = 'url'  ; reverse = !reverse">URL </a>
                        </th>
                        <th class="text-center"><a href=""
                                                   (click)="sortField = 'dateCreated'   ; reverse = !reverse">
                          Test Date</a></th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let project of scheduledProjects">
                        <td>
                          <input class="checkbox" type="checkbox" [(ngModel)]="project.selected"
                                 (ngModelChange)="selected(loadProjects, 'scheduled')"/>
                        </td>
                        <td>{{project.projectname}}</td>
                        <td class="serviceUrl">{{project.uri}}</td>
                        <td>{{project.dateCreated}}</td>
                        <td>
                          <div *ngIf="!project.inProgress">Finished.</div>
                          <div *ngIf="project.inProgress" class="ui-helper-clearfix">
                            <div class="pull-left">
                              <div class="ball"></div>
                              <div class="ball1"></div>
                              <p>Running every {{project.scheduleInterval}} ms.</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div layout layout-xs="column">
                            <button *ngIf="project.inProgress" flex
                                    class="btn-spacer btn btn-sm btn-warning"
                                    (click)="stopProject(project)">
                              <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Stop
                            </button>
                            <button flex (click)="selectProjectForAvail(project)"
                                    class="btn-spacer btn btn-sm btn-primary"
                                    data-toggle="modal" data-target="#availSettings">
                              <i class="fa fa-history" aria-hidden="true"></i>&nbsp;&nbsp;Availability
                            </button>
                            <button flex (click)="getReliability(project)"
                                    class="btn-spacer btn btn-sm btn-info"
                                    data-toggle="modal" data-target="#reliability">
                              <i class="fa fa-heartbeat" aria-hidden="true"></i>&nbsp;&nbsp;Reliability
                            </button>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-md-7">
                        <button class="btn btn-danger"
                                (click)="deleteProjects(scheduledProjects)">
                          <i class="fa fa-times-circle"></i>&nbsp;&nbsp;&nbsp;Delete
                        </button>
                        <button class="btn btn-info" (click)="retest(scheduledProjects)">
                          <i class="fa fa-repeat"></i>&nbsp;&nbsp;&nbsp;Re-test
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div [hidden]="scheduledProjects.length !== 0" class="col-md-12">
                <h1 class="text-danger">Oops! You don't have any scheduled projects.</h1>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Test Projects">
          <div>
            <div *ngIf="dataFetched">
              <div [hidden]="loadProjects.length === 0" class="col-md-12"
                   id="saved-projects">
                <div class="card">
                  <div class="card-header bg-blue">
                    <h3 class="card-title"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Test
                      Projects</h3>
                  </div>
                  <div class="card-body">
                    <table id="projectTable"
                           class="table text-center table-striped table-bordered table-hover">
                      <thead>
                      <tr class="success">
                        <th><input class="checkbox" type="checkbox" [(ngModel)]="allSelected"
                                   (ngModelChange)="selectAll(loadProjects, allSelected, 'load')"/>
                        </th>
                        <th class="text-center"><a href=""
                                                   (click)="sortField = 'projectname'  ; reverse = !reverse">Project </a>
                        </th>
                        <th class="text-center"><a href=""
                                                   (click)="sortField = 'url'  ; reverse = !reverse">URL </a>
                        </th>
                        <th class="text-center"><a href=""
                                                   (click)="sortField = 'testType'  ; reverse = !reverse ">Test
                          Type </a>
                        </th>
                        <th class="text-center"><a href=""
                                                   (click)="sortField = 'dateCreated'   ; reverse = !reverse">Load
                          Test Date</a></th>
                        <th class="text-center">Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let project of loadProjects">
                        <td>
                          <input class="checkbox" type="checkbox" [(ngModel)]="project.selected"
                                 (ngModelChange)="selected(loadProjects, 'load')"/>
                        </td>
                        <td>{{project.projectname}}</td>
                        <td class="serviceUrl">{{project.uri}}</td>
                        <td>{{project.testType}}<p *ngIf="project.testType === 'scalability'">,
                          {{project.distribution}}</p></td>
                        <td>{{project.dateCreated}}</td>
                        <td>
                          <div *ngIf="!project.inProgress">Finished.</div>
                          <div *ngIf="project.inProgress" class="ui-helper-clearfix">
                            <div class="ball"></div>
                            <div class="ball1"></div>
                            <button class="btn-spacer btn btn-sm btn-warning"
                                    (click)="stopProject(project)">
                              <i class="fa fa-times-circle"></i>&nbsp;&nbsp;Stop
                            </button>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-md-7">
                        <button class="btn btn-danger"
                                (click)="deleteProjects(loadProjects)">
                          <i class="fa fa-times-circle"></i>&nbsp;&nbsp;&nbsp;Delete
                        </button>
                        <button [hidden]="act !== 'Load'" class="btn btn-primary"
                                (click)="load()">
                          <i class="fa fa-line-chart"></i>&nbsp;&nbsp;&nbsp;Load
                        </button>
                        <button [hidden]="act !== 'Compare'" class="btn btn-primary"
                                (click)="compare()">
                          <i class="fa fa-line-chart"></i>&nbsp;&nbsp;&nbsp;Compare
                        </button>
                        <button class="btn btn-info" (click)="retest(loadProjects)">
                          <i class="fa fa-repeat"></i> Re-test
                        </button>
                      </div>
                    </div>
                    <b><i id="saved-projects-msg">&nbsp;&nbsp;&nbsp;&nbsp;</i></b>
                  </div>
                </div>
              </div>
              <div [hidden]="loadProjects.length !== 0" class="col-md-12 ng-hide">
                <h1 class="text-danger">Oops! You don't have load projects.</h1>
              </div>
            </div>
            <div [hidden]="!showLoadingBall" class="ng-hide">
              <div class="ball"></div>
              <div class="ball1"></div>
            </div>
            <div id="chart-section">
              <div *ngIf="projectLoaded">
              <!-- LOAD PERFORMANCE CHART HERE -->
              <div [hidden]="projectLoaded.testType !== 'performance' "
                   class="col-md-12 ng-hide sub-cont">
                <div [hidden]="projectLoaded.testType !== 'performance' && !projectLoaded.inProgress"
                     class="ng-hide card ">
                  <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;{{projectLoaded.projectname}}
                      Real Time Performance Monitor</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="performance-monitor-div"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card ">
                  <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;{{projectLoaded.projectname}}
                      Performance Over Time</h3>
                  </div>
                  <div class="card-body">
                    <div id="chart-container"></div>
                  </div>
                </div>
              </div>

              <!-- LOAD CAPACITY / SCALABILITY CHART HERE -->
              <div [hidden]="projectLoaded.testType !== 'capacity' && projectLoaded.testType !== 'scalability'"
                   class="col-md-12 ng-hide sub-cont">
                <div class="card ">
                  <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;{{projectLoaded.projectname}}
                      Requests</h3>
                  </div>
                  <div class="card-body">
                    <canvas id="capacityRequests" [hidden]="!requestsGraphData" class="chart-bar"
                            chart-data="requestsGraphData"
                            chart-labels="requestsGraphLabels"
                            chart-options="requestsGraphOptions"
                            chart-dataset-override="graphOverride">
                    </canvas>
                  </div>
                </div>
                <br/>
                <div class="card ">
                  <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;{{projectLoaded.projectname}}
                      Success Scalability</h3>
                  </div>
                  <div class="card-body">
                    <canvas id="capacityScalability" [hidden]="!successScalabilityData" class="chart-bar"
                            chart-data="successScalabilityData"
                            chart-labels="successScalabilityLabels"
                            chart-options="successScalabilityOptions"
                            chart-dataset-override="graphOverride"></canvas>
                  </div>
                </div>
                <br/>
                <div class="card ">
                  <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;{{projectLoaded.projectname}}
                      Performance Scalability</h3>
                  </div>
                  <div class="card-body">
                    <canvas id="performanceScalability" [hidden]="!performanceScalabilityData" class="chart-bar"
                            chart-data="performanceScalabilityData"
                            chart-labels="performanceScalabilityLabels"
                            chart-options="performanceScalabilityOptions"
                            chart-dataset-override="graphOverride"></canvas>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div *ngIf="compareChartsLoaded && !chartsLoaded"
                 class="col-md-12 sub-cont">
              <div class="card card">
                <div class="card-header">
                  <h3 class="card-title"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Compare
                    Load
                    Results</h3>
                </div>
                <div [hidden]="compareResultsTable" class="card-body ng-hide">
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Project</th>
                      <th>Max Concurrent Users</th>
                      <th>Average Response Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let x of compareProjectsResults">
                      <td>{{x.projectName}}</td>
                      <td>{{x.maxConnectionCt}}</td>
                      <td>{{x.avgRspTime}} ms</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div>
                <mat-tab-group (selectedTabChange)="tabChanged($event)">
                  <mat-tab label="Output">
                    <div>
                      <h6 class="mat-headline">Output</h6>
                      <div id="compareProjectsChart" class="animated fadeIn list-group-item"></div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Averages">
                    <div>
                      <h6 class="mat-headline">Averages</h6>
                      <div id="avgProjectsChart" class="animated fadeIn list-group-item"></div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Minimums">
                    <div>
                      <h6 class="mat-headline">Minimums</h6>
                      <div id="minProjectsChart" class="animated fadeIn list-group-item"></div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Maximums">
                    <div>
                      <h6 class="mat-headline">Maximums</h6>
                      <div id="maxProjectsChart" class="animated fadeIn list-group-item"></div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Capacity">
                    <div>
                      <h6 class="mat-headline">Capacity</h6>
                      <div id="capacityProjectsChart" class="animated fadeIn list-group-item"></div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Reliability">
                    <div>
                      <h6 class="md-headline">Reliability</h6>
                      <i>Lusser’s equation</i>: <code>R = e^[-(l*t)]</code>, where l = failure
                      rate =
                      (# of failedRequests /
                      test testDuration (s) ), and t = 1 second
                      <div id="reliabilityProjectsChart"
                         class="animated fadeIn list-group-item"></div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div id="availSettings" class="modal fade" role="dialog" *ngIf="projectAvailability">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title url">Availability for {{projectAvailability.uri}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              Mode
            </div>
            <select class="form-control"
                    [(ngModel)]="availMode"
                    (ngModelChange)="getDatePicker(availMode)">
            <option *ngFor="let mode of modes">
              {{mode.name}}
            </option>
            </select>
          </div>
        </div>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="availDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          <!--<action-message ng-show="datePickerMsg.message" action-info="datePickerMsg"></action-message>-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearAvailability()" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" (click)="getAvailability(availMode.name, availDate)"
                class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>


<!--<div id="real-time-chart">FusionCharts will render here</div>-->

<div id="reliability" class="modal fade" role="dialog" *ngIf="projectReliability">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title url">Reliability for {{projectReliability.uri}}</h4>
      </div>
      <div class="modal-body">
        <div layout="row" layout-align="space-around center">
          <!--<action-message ng-show="reliabilityAction.message"-->
                          <!--action-info="reliabilityAction"></action-message>-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>




